*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
p{
    padding: 15px;
    margin: 17px;
}


nav a{
    text-decoration: none;
}


ul{
    list-style: none;
}

h1{
    font-size: 1.8rem;
    text-align: center; 
}

header{
    height: 100px;
}

header h1{
    text-align: center;
}

nav {
    text-align: center;
    background-color: #000;
    padding: .5em;
  }
  nav li{
    display: inline;
    padding: 150px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

.div-image-fondo-nordic{
    background-image: url(../IMAGES/fondonordic.jpeg);
}

.div-image-fondo-greek{
    background-image: url(../IMAGES/fondogreek.jpeg);
}

.logo{
    float: right;
    height: 100px;
}

.imagesIndexGreek{
    height: 250px;
    float: left;
    padding: 10px;
}

.imagesIndexNordic{
    height: 250px;
    float: right;
    padding: 10px;
}

.fotosColab{
    height: 50px;
}

.greekphoto{
    height: 250px;
}

.godsgreeks{
    height: 500px;
    padding: 10px;
}

.nordicphoto{
    height: 250px;
}

.godsnordic{
    height: 250px;
}

h2{
    text-align: center;
}

article{
    width: 1000px;
    margin: 0 auto;
}

section{
    margin: 20px;
    padding: 50px;
}