*{
    margin: 0;
    padding: 0;
}
/*CLASES BASIQUES*/
body{
    font-family: 'Roboto', sans-serif;
}

p{
    padding: 15px;
    margin: 17px;
    font-family: 'Anton', sans-serif;
}

article{
    width: 1000px;
    margin: 50px auto;
}

section{
    margin: 10px;
    padding: 40px;
}

main{
    text-align: center;
}

footer{
    text-align: center;
    margin: 30px 295px;
    padding: 20px;
}
/*FINAL CLASES BASIQUES*/




/*TITULS*/
h1, h2{
    text-align: center;
    font-family: 'Martian Mono', monospace;
}

h3{
font-family: 'Markazi Text', serif;
}
/*FINAL DELS TITULS*/




/*LLISTES*/
ul{
    list-style: none;
}

nav {
    font-size: 1.3rem;
    text-align: center;
    padding: .5em;
    margin:  5px 320px;
}

nav #fondonordic{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

nav li{
    display: inline;
    padding: 20px 100px;
}

nav a {
    color: black;
    text-decoration: solid;
}
/*FINAL LLISTES*/




/*TOTES LES IMAGES */
.div-image-fondo-nordic{
    background-image: url(../IMAGES/fondonordic.jpeg);
}

.div-image-fondo-greek{
    background-image: url(../IMAGES/fondogreek.jpeg);
}

.div-image-fondo-todo{
    background-image: url(../IMAGES/fondogreek.jpeg);
}

.logo{
    float: right;
    height: 80px;
    margin: 40px 20px;
}

.imagesIndexGreek{
    height: 250px;
    float: left;
    padding: 10px;
}

.imagesIndexNordic{
    height: 250px;
    float: right;
    padding: 10px;
}

.fotosTwiter{
    height: 75px;
}

.fotosRegistro{
    padding: 10px;
    height: 50px;
    
}

.fotosInsta{
    height: 50px;
}

.greekphoto{
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.godsgreeks{
    height: 500px;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.nordicphoto{
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.godsnordic{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
/*FINAL IMAGES*/




/*COLOR DE FONDOS Y BORDES*/
.fondonordic{
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
}

.fondogreek{
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(145, 145, 145);

}

.fondoregistre{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(199, 196, 196);
    background-color: #fff;
    margin: 10px 250px;
}

.bottons{
    margin: 10px 310px;
}
/*FINAL COLOR DE FONDOS Y BORDES*/




/*TABLA DELS DEUS GREEKS*/
table, th, td{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid;
}

th{
    padding: 10px 10px;
    padding-bottom: 12px;
    background-color: #f5f36f98;
}

td{
    padding: 7px 7px;
    padding-bottom: 12px;
    background-color:#f02b5cb2;
}

table{
    float: center;
}

.hellenicname{
    background-color: #e05947b2;
}

.attribution{
    background-color: #ff000088;
}
/*FINAL TABLA DELS DEUS GREEKS*/